
<app-nav></app-nav>
<router-outlet></router-outlet>

<!--1) multi router-outlet-->
<!--2) lazy-loading-->
<!--3) вложеные состояния-->
<!--4) pathMatch ))))-->




<!--<h1>-->
<!--{{currentPersone.name}} {{currentPersone?.surname}}-->
<!--</h1>-->

<!--<input type="text" log-directive [(ngModel)]="person">-->

<!--<img [class.portrait]="isPortrait" [class.portrait1]="isPortrait"-->
<!--[attr.alt]="alt" [style.width.px]="width" [src]="image">-->


<!--<app-profile [person]="person" (choseCurrentPersone)="currentPersone=$event"></app-profile>-->


<!-- NgModel , NgModelGroupe, NgForm-->
<!-- ngModel => FormControl-->
<!-- ngForm => FormGroup-->
<!--??standalone-->
<!--??no html-->


<!--<form #f="ngForm" (ngSubmit)="submit(f.value)">-->
  <!--<div>Username</div>-->
  <!--<input type="text" name="username" nospecial ngModel required/>-->
  <!--<div>SSN</div>-->
  <!--<input type="text" name="ssn" ssn ngModel required/>-->

  <!--<div ngModelGroup="passwordGroupe">-->
    <!--<div>Password</div>-->
    <!--<input type="password" name="password" ngModel required/>-->
    <!--<div>Confirm password</div>-->
    <!--<input type="password" name="pconfirm" ngModel required/>-->
  <!--</div>-->
  <!--<button type="submit">Submit</button>-->
<!--</form>-->


<!--<pre>{{f.value | json}}</pre>-->
<!--<pre>Fomm isValid: {{f.valid}}</pre>-->
<!--<pre>SSN hasError ssn: {{f.controls['ssn']?.hasError('ssn')}}</pre>-->
<!--<pre>Name hasError ssn: {{f.controls['username']?.hasError('nospecial')}}</pre>-->


<!-- FormControl, FormGroup,FormArray -->
<!-- FormBuilder -->
<!--formGroupName ??? as [formGroup] ????  and Group valid -->
<!--<form [formGroup]="formModel" (ngSubmit)="submit(f.value)">-->
  <!--<div>Username</div>-->
  <!--<input type="text" [formControl]="formModel.controls['username']"/>-->
  <!--<div>SSN</div>-->
  <!--<input type="text" [formControl]="formModel.controls['ssn']"/>-->

  <!--<div [formGroup]="formModel.controls['passwordGroup']">-->
    <!--<div>Password</div>-->
    <!--<input [formControl]="formModel.controls['passwordGroup'].controls['password']"/>-->
    <!--<div>Confirm password</div>-->
    <!--<input [formControl]="formModel.get('passwordGroup').controls['pconfirm']"/>-->
  <!--</div>-->
  <!--<button type="submit">Submit</button>-->
<!--</form>-->
<!--<pre>{{formModel.value | json}}</pre>-->
<!--<pre>Fomm isValid: {{formModel.valid}}</pre>-->
<!--<pre>FormGroupPassword hasError equal: {{formModel.controls['passwordGroup'].hasError('equal')}}</pre>-->

<!-- ??? FormArray-->
<!--<pre>{{formModel.value | json}}</pre>-->
<!--<pre>{{formModel.valid}}</pre>-->

<!--<form [formGroup]="formArrayModel ">-->
  <!--<ul [formGroup]="formArrayModel.controls['emails']">-->
    <!--<li *ngFor="let e of formArrayModel.get('emails').controls; let i =index">-->
      <!--<input type="text" [formControl]="e">-->
    <!--</li>-->
  <!--</ul>-->
  <!--<button (click)="addEmail()">Add Email</button>-->
<!--</form>-->

<!--<pre>{{formArrayModel.value | json}}</pre>-->
<!--<pre>{{formArrayModel.valid}}</pre>-->


<!--1) formGroupName ??? as [formGroup]-->
<!--2) FormArray-->
<!--3) FormBuilder => Group valid-->
